<section class="expierence section">
  <div class="expierence__container container">
    <div class="expierence__content">
      <div class="expierence__pre-title-wrap">
        <p class="expierence__pre-title">20</p>
      </div>
      <h2 class="expierence__title title">
        Years Of Successful Working The Market
      </h2>
      <a href="" class="expierence__button button button">READ MORE</a>
    </div>
    <div class="expierence__tumb tumb">
      <img
        src="./images/img-expierence.jpg"
        width="681"
        alt="Room"
        class="expierence__image"
      />
    </div>
  </div>
</section>
