<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo logo link">
      <img
        src="./images/logo.png"
        width="151"
        alt="Logo"
        class="header__logo logo"
      />
    </a>
    <nav class="header__nav nav-header">
      <ul class="nav-header__list list">
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">HOME</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">PROJECT</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">SERVICES</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">ABOUT</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">BLOG</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">SHOP</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">CONTACT</a>
        </li>
      </ul>
      <button type="button" class="nav-header__button button">Sign Up</button>
    </nav>
  </div>
</header>
