<section class="hero section">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title title">MODERN INTERIOR</h1>
      <p class="hero__tagline">Create Your Interior Design.</p>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <a href="" class="hero__button button button">CONTACT</a>
    </div>
    <div class="hero__tumb tumb">
      <img
        src="./images/img-hero.jpg"
        width="716"
        alt="Room"
        class="hero__image"
      />
    </div>
  </div>
</section>
