<section class="services section">
  <div class="services__container container">
    <p class="services__pre-title pre-title">WHAT WE DO</p>
    <h2 class="services__title title">Our Service</h2>
    <div class="services__list list-services slider">
      <div class="list-services__item">
        <div class="list-services__icon">
          <img
            src="./images/icon-interior-design.png"
            alt="icon-archtecture"
            width="40"
          />
        </div>
        <div class="list-services__body">
          <h3 class="list-services__title">Interior Design</h3>
          <p class="list-services__text">
            Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
            tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="list-services__item">
        <div class="list-services__icon">
          <img
            src="./images/icon-architecture.png"
            alt="icon-archtecture"
            width="40"
          />
        </div>
        <div class="list-services__body">
          <h3 class="list-services__title">Architecture</h3>
          <p class="list-services__text">
            Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
            tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="list-services__item">
        <div class="list-services__icon">
          <img
            src="./images/icon-planning.png"
            alt="icon-architecture"
            width="40"
          />
        </div>
        <div class="list-services__body">
          <h3 class="list-services__title">Planning</h3>
          <p class="list-services__text">
            Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
            tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="list-services__item">
        <div class="list-services__icon">
          <img
            src="./images/icon-interior-design.png"
            alt="icon-archtecture"
            width="40"
          />
        </div>
        <div class="list-services__body">
          <h3 class="list-services__title">Interior Design</h3>
          <p class="list-services__text">
            Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
            tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="list-services__item">
        <div class="list-services__icon">
          <img
            src="./images/icon-architecture.png"
            alt="icon-archtecture"
            width="40"
          />
        </div>
        <div class="list-services__body">
          <h3 class="list-services__title">Architecture</h3>
          <p class="list-services__text">
            Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
            tempor incididunt ut labore.
          </p>
        </div>
      </div>
      <div class="list-services__item">
        <div class="list-services__icon">
          <img
            src="./images/icon-planning.png"
            alt="icon-architecture"
            width="40"
          />
        </div>
        <div class="list-services__body">
          <h3 class="list-services__title">Planning</h3>
          <p class="list-services__text">
            Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod
            tempor incididunt ut labore.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
