<section class="statistic section">
  <div class="statistic__container container">
    <div class="statistic__content">
      <h2 class="statistic__title title">
        3000+ Completed Work<br />Which WE have Successfully Done
      </h2>
      <ul class="statistic__list">
        <li class="statistic__item">
          <span>980</span>
          <p>Project</p>
        </li>
        <li class="statistic__item">
          <span>520</span>
          <p>Happy Client</p>
        </li>
        <li class="statistic__item">
          <span>330</span>
          <p>Winners</p>
        </li>
        <li class="statistic__item">
          <span>120</span>
          <p>Recoment</p>
        </li>
      </ul>
    </div>
  </div>
</section>
