<section class="testimonials section">
  <div class="testimonials__container container">
    <p class="testimonials__pre-title pre-title">TESTIMONIALS</p>
    <h2 class="testimonials__title title">Client says about us</h2>
    <div class="testimonials__list list-testimonials swiper">
      <div class="swiper-wrapper">
        <div class="list-testimonials__item swiper-slide">
          <div class="list-testimonials__foto">
            <img
              src="./images/testimonials/foto-1.jpg"
              alt="foto Louis Saville"
              width="131"
            />
          </div>
          <div class="list-testimonials__body">
            <h3 class="list-testimonials__title">
              Louis Saville <span>/CEO at Google inc</span>
            </h3>
            <p class="list-testimonials__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="list-testimonials__item swiper-slide">
          <div class="list-testimonials__foto">
            <img
              src="./images/testimonials/foto-2.jpg"
              alt="foto Louis Saville"
              width="131"
            />
          </div>
          <div class="list-testimonials__body">
            <h3 class="list-testimonials__title">
              Rekha Varadwaz <span>/Manager at Nike inc</span>
            </h3>
            <p class="list-testimonials__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
