<section class="testimonials section">
  <div class="testimonials__container container">
    <p class="testimonials__pre-title pre-title">TESTIMONIALS</p>
    <h2 class="testimonials__title title">Client says about us</h2>
    <div class="testimonials__list list-testimonials swiper">
      <div class="swiper-wrapper">
        <div class="list-testimonials__item testimonial swiper-slide">
          <div class="testimonial__foto">
            <img
              src="./images/testimonials/foto-1.jpg"
              alt="foto Louis Saville"
              width="131"
            />
          </div>
          <div class="testimonial__body">
            <h3 class="testimonial__title">
              Louis Saville <span>/CEO at Google inc</span>
            </h3>
            <p class="testimonial__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="list-testimonials__item testimonial swiper-slide">
          <div class="testimonial__foto">
            <img
              src="./images/testimonials/foto-2.jpg"
              alt="foto Louis Saville"
              width="131"
            />
          </div>
          <div class="testimonial__body">
            <h3 class="testimonial__title">
              Louis Saville <span>/CEO at Google inc</span>
            </h3>
            <p class="testimonial__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="swiper-pagination"></div> -->
      <div class="swiper-button swiper-button-prev">
        <svg class="swiper-button__icon" width="6" heignt="9">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </div>
      <div class="swiper-button swiper-button-next">
        <svg class="swiper-button__icon" width="6" heignt="9">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
