.hero {
  &__container {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  &__content {
    flex: 0 1 44%;
  }

  &__title {
    @include font(600, 20px, 1.5, null);
    text-transform: uppercase;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__tagline {
    font-family: $secondary-font;
    @include font(600, 72px, 1.08, null);

    color: #212121;
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 46px;
    }
  }

  &__button {
  }
  &__tumb {
    flex-basis: 52%;
  }
}
