.services {
  padding-top: 105px;
  &__container {
  }

  &__pre-title {
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__list {
  }
}

.list-services {
  &__item {
    margin: 0 15px;
    display: flex;
    gap: 20px;
    align-items: start;
    padding: 39px 22px 35px 37px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
    border-radius: 60px 0px;

    &.slick-center {
      background-color: #caa892;
      color: #ffffff;
    }
  }

  &__icon {
  }

  &__title {
    @include font(700, 24px, 1, null);
    color: #212121;
    .list-services__item.slick-center & {
      color: #ffffff;
    }
    &:not(:last-child) {
      padding-bottom: 11px;
    }
  }

  &__text {
    @include font(null, 18px, null, -0.01em);
  }
}

/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
.slick-slide {
}
/* Слайд активный */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}

/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки */
.slick-dots {
}
.slick-dots li {
}
.slick-dots button {
}

//Slider
.slider {
  position: relative;
  & .slick-arrow {
    position: absolute;
    top: -50px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    &:hover,
    &:focus {
      background: #37806b;
      &::before {
        background-color: #fff;
      }
    }
    &.slick-prev {
      right: 54px;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 6px;
        height: 10px;
        background-image: url(../images/slick-arrow.svg);
        background-position: center center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%);
      }
    }
    &.slick-next {
      right: 6px;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 6px;
        height: 10px;
        background-image: url(../images/slick-arrow.svg);
        background-position: center center;
        background-repeat: no-repeat;
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
}
